body {
    font-family: 'Poppins', sans-serif;
    background-color: #f5f5f5;
    padding: 20px;
}


.form-container {
    max-width: 500px;
    margin: 50px auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.form-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-container label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-container input,
.form-container textarea,
.form-container select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.form-container button {
    width: 100%;
    padding: 10px;
    background-color: #be89a1;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.form-container button:hover {
    background-color: #995373;
}

.btn-voltar {
    display: inline-block;
    margin: 20px;
    padding: 10px 16px;
    background-color: #be89a1;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.btn-voltar:hover {
    background-color: #995373;
}

@media (max-width: 768px) {
    body {
        padding: 10px; 
    }

    .form-container {
        margin: 20px 10px; 
        padding: 20px; 
        box-shadow: none; 
    }

    .form-container h2 {
        font-size: 1.8rem; 
    }

    .form-container label {
        font-size: 1.4rem; 
    }

    .form-container input,
    .form-container textarea,
    .form-container select {
        font-size: 1.6rem; 
        padding: 12px; 
    }

    .form-container button {
        font-size: 1.8rem; 
        padding: 12px;
    }

    .btn-voltar {
        display: block; 
        width: fit-content; 
        margin: 10px auto 0 auto; 
        font-size: 1.6rem;
        padding: 10px 15px;
        text-align: center;
    }
}

@media (max-width: 480px) {
    .form-container h2 {
        font-size: 1.6rem;
    }
    .form-container input,
    .form-container textarea,
    .form-container select,
    .form-container button,
    .btn-voltar {
        font-size: 1.4rem;
        padding: 10px;
    }
}